@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
    --cor-principal: #0B3097;
    --cor-principal-escuro: #031f6b;
    --cor-preta-principal: #232628;
    --cor-preta-secundaria: #bebebe;
    --fonte-1: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    margin: auto;
}

/* Estilos do menu */
header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 999;
}

.menu {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    list-style-type: none;
}

.menu-primeiro {
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1000;
}

.menu-icon:hover {
    background-color: #eeeeee;
}

.menu-icon svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 100px;
}

.logo img:hover {
    opacity: 50%;
}

.header-corte {
    width: 1px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-right: 20px;
}

/*@media screen and (max-width: 450px) {
    .header-corte {
        display: none;
    }
}*/


.header-titulo h1 {
    font-size: 15px;
    font-weight: 400;
    font-family: var(--fonte-1);
    color: black;
}

.entrar a {
    /*display: none;*/
    background-color: var(--cor-principal);
    font-family: var(--fonte-1);
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 10px;
}

.entrar a:hover {
    background-color: var(--cor-principal-escuro);
}

.logado img {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 20px;
    top: 10px;
    
}

.logado p {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 20px;
    top: 10px;
    
}

.logado img:hover, .logado p:hover {
    opacity: 50%;
}

.lateral-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 10;
    left: -2px;
    padding-top: 10px;
    overflow-x: hidden;
    transition: 0.4s;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.lateral-menu li {
    text-align: initial;
    margin-bottom: 20px;
}

.link-menu {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.link-menu a {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    line-height: 20px;
    text-align: left;
    box-sizing: border-box;
    font-family: var(--fonte-1);
    font-weight: 400;
    font-size: 15px;
}


.active {
    padding: 15px 30px;
    color: var(--cor-principal);
    background-color: rgba(11, 48, 151, 0.06);
}

.link-menu a:hover {
    padding: 15px 30px;
    color: var(--cor-principal);
    background-color: rgba(11, 48, 151, 0.06);
}

.link-menu-premium a {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    line-height: 20px;
    text-align: left;
    box-sizing: border-box;
    font-family: var(--fonte-1);
    font-weight: 400;
    font-size: 15px;
    animation: premium 4s infinite;
}

.link-menu-premium a:hover {
    padding: 15px 30px;
}

@keyframes premium {
    0% {
        color: green;
        text-shadow: 0px 0px 10px green;
        background-color: rgba(0, 128, 0, 0.06);
    }
    10% {
        color: var(--cor-principal);
        text-shadow: 0px 0px 10px var(--cor-principal);
        background-color: rgba(11, 48, 151, 0.06);
    }
    20% {
        color: purple;
        text-shadow: 0px 0px 10px purple;
        background-color: rgba(128, 0, 128, 0.06);
    }
    30% {
        color: red;
        text-shadow: 0px 0px 10px red;
        background-color: rgba(255, 0, 0, 0.06);
    }
    40% {
        color: yellow;
        text-shadow: 0px 0px 10px yellow;
        background-color: rgba(255, 255, 0, 0.06);
    }
    50% {
        color: orange;
        text-shadow: 0px 0px 10px orange;
        background-color: rgba(255, 166, 0, 0.06);
    }
    60% {
        color: yellow;
        text-shadow: 0px 0px 10px yellow;
        background-color: rgba(255, 255, 0, 0.06);
    }
    70% {
        color: red;
        text-shadow: 0px 0px 10px red;
        background-color: rgba(255, 0, 0, 0.06);
    }
    80% {
        color: purple;
        text-shadow: 0px 0px 10px purple;
        background-color: rgba(128, 0, 128, 0.06);
    }
    90% {
        color: var(--cor-principal);
        text-shadow: 0px 0px 10px var(--cor-principal);
        background-color: rgba(11, 48, 151, 0.06);
    }
    100% {
        color: green;
        text-shadow: 0px 0px 10px green;
        background-color: rgba(0, 128, 0, 0.06);
    }
}

.header-corte-lateral-menu {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

/*=====================================*/

.destaque {
    width: 1200px;
    margin: auto;
    font-family: var(--fonte-1);
    background-color: white;
    padding-top: 100px;
}

@media screen and (max-width: 1210px) {
    .destaque {
        width: 100%;
    }
}

.destaque > p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    color: #424242;
    font-weight: 300;
}

@media screen and (max-width: 550px) {
    .destaque > h1 {
        font-size: 30px;
    }
    .destaque > p {
        font-size: 14px;
    }
}

.destaque ul {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 800px) {
    .destaque ul {
        display: block;
    }
}

.destaque_parte1 li {
    width: 350px;
    height: 450px;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1210px) {
    .destaque_parte1 li {
        margin: 0px;
        margin-bottom: 5px;
    }
}

.destaque_parte1 img {
    width: 350px;
    height: 200px;
    border-radius: 5px;
}

@media screen and (max-width: 1100px) {
    .destaque_parte1 li {
        width: 300px;
        height: 400px;
    }
    .destaque_parte1 img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 950px) {
    .destaque_parte1 li {
        width: 250px;
        height: 350px;
    }
    .destaque_parte1 img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .destaque_parte1 li {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        padding-bottom: 20px;
    }
    .destaque_parte1 img {
        width: 100%;
    }
}

.destaque_parte1 h1 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.destaque_parte1 p {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 15px;
}

.destaque_parte1 a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background-color: var(--cor-principal);
    border-radius: 5px;
}

.destaque_parte1 a:hover {
    background-color: var(--cor-principal-escuro);
}

@media screen and (max-width: 800px) {
    .destaque_parte1 h1, .destaque_parte1 p {
        padding-left: 5px;
    }
    .destaque_parte1 a {
        margin-left: 5px;
    }
}

/*=====================================*/

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.materia {
    width: 900px;
    margin: auto;
    padding-top: 70px;
    font-family: var(--fonte-1);
}

@media screen and (max-width: 950px){
    .materia {
        width: 700px;
    }
}

@media screen and (max-width: 710px){
    .materia {
        width: 600px;
    }
}

@media screen and (max-width: 600px){
    .materia {
        width: 100%;
    }
}

/* Estilos para a página de notícia */
.header {
    margin-bottom: 20px;
}

.noticia h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.noticia h2 {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.informacoes {
    font-size: 0.9em;
    color: #888;
    padding-left: 10px;
    padding-right: 10px;
}

.informacoes .autor,
.informacoes .hora {
    margin-bottom: 5px;
}

.informacoes span {
    font-weight: bold;
}

.foto-principal img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

.foto-secundaria {
    margin: auto;
    text-align: center;
}

.foto-secundaria img {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .foto-secundaria img {
        width: 100%;
    }
}

.conteudo {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

.conteudo h3 {
    font-size: 1.7em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.conteudo p {
    font-size: 1em;
    color: #555;
    padding-left: 10px;
    padding-right: 10px;
}

.conteudo h4 {
    font-size: 1.2em;
    color: #333;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}



@media screen and (max-width: 830px){
    .noticia h1 {
        font-size: 1.6em;
        color: #333;
    }
    .noticia h2 {
        font-size: 1em;
        color: #666;
    }
    
    .informacoes {
        font-size: 0.6em;
        color: #888;
    }
    
    .foto-principal img {
        margin-bottom: 0px;
    }

    .conteudo {
        font-size: 1em;
        color: #555;
    }
    
    .conteudo h3 {
        font-size: 1.2em;
        color: #333;
        margin-top: 10px;
    }
    .conteudo h4 {
        font-size: 1em;
        color: #333;
    }
}

/*=====================================*/

.share-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    padding: 5px 60px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    button {
        width: 100%;
    }
}

.whatsapp {
    background-color: #25D366;
    fill: white;
}

.whatsapp:hover {
    background-color: #189646;
}

.whatsapp svg {
    width: 18px;
    height: 18px;
}

.share-anywhere {
    background-color: #007BFF;
    fill: white;
}

.share-anywhere:hover {
    background-color: #0256af;
}

.share-anywhere svg {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 300px) {
    button {
        padding: 5px 30px;
    }
}

/*=====================================*/
/*=====================================*/
/*=====================================*/
/*=====================================*/

footer {
    height: 100px;
    background-color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 700px) {
    footer {
        margin-top: 50px;
    }
}

.link-redes {
    margin-bottom: 10px;
}

.link-redes svg {
    width: 22px;
    height: 22px;
    fill: #747474;
}

.link-redes svg:hover {
    fill: #424242;
}

.footer-links {
    margin-bottom: 30px;
}

.footer-links a {
    margin: 0 10px;
    color: #747474;
    text-decoration: none;
    font-weight: 500;
}

.footer-links a:hover {
    color: #424242;
    text-decoration: underline;
}

footer p {
    color: #747474;
}
